<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>The Skew Dectors Evaluation</title>
		
		<!-- CSS Files -->
        <link type="text/css" href="style.css" rel="stylesheet" />

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="object_data.js"></script>
		<script src="alphabet_object_data.js"></script>
		<script type="text/javascript">
	$(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Weak Skew Detectors'
            },
            subtitle: {
                
            },
            xAxis: [{
                categories: categories
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value +'%';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: 'Correct Classifications in %',
                    style: {
                        color: '#4572A7'
                    }
                }
    
            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Standard Deviation',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
			opposite: true
    
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                x: -120,
                verticalAlign: 'top',
                y: 80,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: series
        });
        $('#container2').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Skew Detectors - Alphabet Overview'
            },
            subtitle: {
                text: 'The Skew Detectors Evaluation'
            },
            xAxis: [{
                categories: alphabet_categories
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value +'%';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: 'Correct Classifications',
                    style: {
                        color: '#4572A7'
                    }
                }
            }],
            tooltip: {
                shared: false
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 80,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: alphabet_series
        });
    });
    

		</script>
	</head>
	<body>
<script src="js/highcharts.js"></script>

<!-- div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="container2" style="min-width: 400px; height: 400px; margin: 20px auto"></div -->
<div id="container"></div>


