
*
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
}

h2
{
	font-size: 24px;
}

h3
{
 	font-size: 20px;
}

table
{
	margin: 45px auto;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}


div.preview
{
	margin: auto;
}

div.preview table
{
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
	margin: 10px 0;
    max-width: 700px;

}
div.preview h3
{
	text-align: center;
	margin-top: 5px;
}
div.preview h2
{
	margin: 10px 0;
}
div.column {
	float: left;
	margin-right: 30px;
	vertical-align: top
}

div.column td:last-child {
	text-align: center;
}

.border_left
{
	border-left: 1px dashed #6699CC;
}

.border_right
{
	border-right: 1px dashed #6699CC;
}

th
{
	padding: 12px 17px 12px 17px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
	border-bottom: 1px dashed #69c;
}

th a 
{
	font-weight: normal;
	font-size: 14px;
	color: #039;
}

td
{
	color: #669;
	padding: 1px 7px;
}

tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}

table.images tr
{
	background: #F7F7F7;
}

div.preview table tr:nth-child(even), table.images tr:nth-child(even)
{
	background: #EEEEF4;
}

table.images td
{
	text-align: center;
}

#container 
{
	/*min-width: 400px;*/
	height: 600px;
	margin: 0 auto;
}
#container2
{
	/*min-width: 400px;*/
	height: 400px;
	margin: 20px auto;
	min-width: 1200px;	
}

table a, table a:visited, table a:hover, table a:active {
	color: #003399;
	text-decoration: none;
}
table a:hover {
	text-decoration: underline;
}

td img 
{ 
	max-width: 250px;
}

#detectors_overview td, #detectors_overview_sum td, #detector_detail_overview td, #alphabet_detail_overview td
{
	text-align: center;
}

#detectors_overview td:first-child, #detectors_overview_sum td:first-child
{
	text-align: left;
}

#detectors_overview tr:nth-child(odd), #alphabet_detail_overview tr:nth-child(odd)
{
	background: #EEEEF4;
}

#detectors_overview tr:first-child, #alphabet_detail_overview tr:first-child
{
	background: transparent;
}
